/* Universal styling */
* {
    box-sizing: border-box;
}

body {
    margin: 0 2rem;
}

/* Form styling */
form {
    max-width: 700px;
    margin: 0 auto;
}

form fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

form input,
form textarea {
    padding: 0.5rem;
    width: 100%;
}

/* colours */

.green {
    background-color: green;
}

.red {
    background-color: red;
}
h1 {
    font-size: xx-large;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
  p {
    font-family: "Roboto Serif", serif;
    color: #ffd166;
  }