.quiz-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.quiz {
    border: 1px solid rgb(9, 51, 98);
    padding: 0 1rem;
    box-shadow: 3px 3px 3px rgb(9, 51, 98);
}
  /* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes slideIn {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.quiz {
    animation: fadeIn 0.10s ease-in-out, slideIn 0.9s ease-in-out;
}

.quiz-controllers {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem 1rem 2rem;
}